<header>
    <div class="left-side">
        <div class="brand" routerLink="/todoList">
            <i class="icon icon-task"></i>
            <span class="brand-label">待办任务</span>
        </div>
        <nav>
            <button mat-button routerLink="/todoList">任务列表</button>
            <button mat-button routerLink="/about">关于</button>
        </nav>
    </div>
    <div class="right-side">
        <a target="_blank" href="https://github.com/frankshawn/todo-list" mat-button><i class="icon icon-github"></i>Github</a>
    </div>
</header>