$lineHeight: 40px;
:host {
  width: 300px;
}

.list-group {
  /deep/ .mat-button {
    line-height: $lineHeight;
  }
  /deep/ mat-checkbox {
    &.mat-checkbox-checked {
      text-decoration: line-through;
      color: #757575;

      .mat-checkbox-background {
        background-color: #4caf50;
      }
    }

    .mat-checkbox-layout {
      margin-bottom: 0;
    }

    .mat-checkbox-label {
      line-height: $lineHeight;
      word-break: break-all;
      white-space: normal;
      width: 100%;
      overflow: hidden;

      .label-title {
        height: 30px;
        line-height: 30px;
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .label-desc {
        line-height: 24px;
      }
    }
  }

  .list-item {
    line-height: $lineHeight;
    display: flex;
    justify-content: space-between;

    & > .checkbox-wrapper {
      flex: 1;
      overflow: hidden;
    }
    & > .right-side.options {
      flex: 0 0 80px;
      display: flex;
    }

    .btn.btn-default.memo {
      padding: 0;
      background-color: transparent;

      .icon.icon-message {
        cursor: pointer;
        font-size: 16px;
        padding: 12px;
      }
    }

    .btn.delete {
      background-color: transparent;
      font-size: 20px;
      padding: 0;

      .icon.icon-trash-basket {
        padding: 10px;
      }
    }
  }
}
