<div class="list-group" *ngIf="todoList?.length > 0; else noDataTpl">
    <div class="list-item" *ngFor="let todoItem of todoList; let indexInList = index">
        <div class="checkbox-wrapper">
            <mat-checkbox [checked]="todoItem.isCompleted" (change)="onCheckboxChanged(todoItem, $event)">
                <h4 class="label-title">{{ todoItem.name }}</h4>
                <p class="label-desc" *ngIf="todoItem.memo">{{ todoItem.memo }}</p>
            </mat-checkbox>
        </div>
        <div class="right-side options">
            <button class="btn btn-default memo" (click)="onAddMemoClick(todoItem)">
                <i class="icon icon-message"></i>
            </button>
            <button class="btn btn-default delete" (click)="onRemoveClick(todoItem, indexInList)">
                <i class="icon icon-trash-basket"></i>
            </button>
        </div>
    </div>
</div>
<ng-template #noDataTpl>
    <div class="no-data">暂无数据</div>
</ng-template>