<div class="list-group" *ngIf="todoList?.length > 0; else noDataTpl">
    <div class="list-item" *ngFor="let todoItem of todoList">
        <div class="checkbox-wrapper">
            <mat-checkbox [checked]="todoItem.isCompleted" (change)="onCheckboxChanged(todoItem, $event)">{{
                todoItem.name }}
            </mat-checkbox>
            <i class="icon icon-message" (click)="onAddMemoClick(todoItem)"></i>
        </div>
        <button mat-button (click)="onReadMemoClick(todoItem)">查看备注</button>
    </div>
</div>
<ng-template #noDataTpl>
    <div class="no-data">暂无数据</div>
</ng-template>