<div class="page">
    <div class="title-container animated fadeIn">
        <div class="avatar">
            <img src="../../../assets/images/about/myself.jpg" alt="我的照片">
        </div>
    </div>
    <div class="hobby-list animated pulse">
        <div class="item">
            <div class="item-label">github</div>
            <div class="item-desc">
                <a href="https://github.com/nichengaxiang" target="_blank">https://github.com/frankshawn</a>
            </div>
        </div>
        <div class="item">
            <div class="item-label">CSDN</div>
            <div class="item-desc">
                <a href="http://blog.csdn.net/u011818572" target="_blank">http://blog.csdn.net/u011818572</a>
            </div>
        </div>
    </div>
</div>
